<!--
    Kianna Dyck
    Jen Shin
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flash Cards</title>

    <!-- CSS Files-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>

<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light m-3">
    <a class="navbar-brand" href="./">Flashcards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <check if ="{{ @_SESSION['userId'] }}">
                <true>
                    <a class="nav-item nav-link" href="./">Current Decks</a>
                    <a class="nav-item nav-link" href="./create">Create New Deck</a>
                    <a class="nav-item nav-link" href="./logout">Logout</a>
                </true>
                <false>
                    <a class="nav-item nav-link" href="./register">Create an account</a>
                    <a class="nav-item nav-link" href="./login">Login</a>
                </false>
            </check>

        </div> <!-- navbar -->
    </div> <!-- collapsible content div -->
</nav> <!-- nav -->

<div class="container">
    <h2 class="text-center my-4">Edit Deck</h2>
    <label class="form-control-label" for="deckName">Current Deck name: </label>

    <div class="form-row">
        <div class="col-9">
            <input class="form-control" type="text" value="{{ @deckName }}" id="deckName">
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary" id="updateDeckName">Update</button>
            <button type="button" class="btn btn-outline-danger" id="deleteDeck">Delete Entire Deck</button>
        </div>
    </div>

    <table class="table mt-4">
        <tr>
            <th >Question</th>
            <th >Answer</th>
            <th>Edit Flashcard</th>
        </tr>

        <repeat group="{{ @flashcards }}" value="{{ @flashcard }}">
            <tr id="{{ @flashcard['pairId'] }}">
                <td data-id="question">
                    <!--<div class="input-group">-->
                        <textarea class="form-control"  rows="5" style="resize:none">{{ @flashcard['question'] }}</textarea>
                        <!--<input type="text" class="form-control" value="{{ @flashcard['question'] }}">-->
                        <!--<div class="input-group-append">
                            <button class="btn btn-outline-secondary saveButton" type="button">Save</button>
                        </div>-->
                    <!--</div>-->
                </td>

                <td data-id="answer">
                    <textarea class="form-control" rows="5" style="resize:none">{{ @flashcard['answer'] }}</textarea>
                    <!--<div class="input-group">
                        <input type="text" class="form-control" value="{{ @flashcard['answer'] }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary saveButton" type="button">Save</button>
                        </div>
                    </div>-->
                </td>

                <td>
                    <button class="btn btn-outline-warning" id ="saveButton" name ="saveButton">Update</button>
                    <br/>
                    <br>
                    <button class="btn btn-outline-danger" id = "remove" name ="remove">Remove</button>
                </td>

            </tr>
        </repeat>

    </table>

    <!-- Add new flashcard -->
    <button type="button" class="btn btn-primary mb-4" id="addNew">Add new Flashcard</button>

    <div id='TextBoxesGroup' class="form-group">
        <div id="TextBoxDiv">
            <label>Question: </label>
            <input type="text" class= "form-control" name="question[]" id="question" >

            <br>

            <label>Answer: </label>
            <input type="text" class= "form-control" name="answer[]" id="answer" >

            <br>
            <hr>
        </div>
    </div>

</div> <!-- container -->



<!-- Scripts -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!--jQuery Library-->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>

<!-- Work in Progress -->
<script>
    //add save function to all saveButton elements
    var buttons = document.querySelectorAll("button[name= 'saveButton']");
    var i = 0, length = buttons.length;
    for (i; i < length; i++) {
        if (document.addEventListener) {
            buttons[i].addEventListener("click", function() {
                // use keyword this to target clicked button
                addSaveEvent();
            });
        } else {
            buttons[i].attachEvent("onclick", function() {
                // use buttons[i] to target clicked button
            });
        };
    };

    // edit/save buttons
    function addSaveEvent(){
        alert("You clicked me! Theoretically, I trigger an event that will send an ajax request to update " +
            "the database, maybe only when a change is detected? I need the pairId - maybe stored as the id of " +
            "each ^tr^ tag. I also need to be able to identify if the input I am updating is a question or an " +
            "answer, maybe stored as a class in the input field, or as an id with an incrementing counter? " +
            "Alternatively, I could become another column in the table that updates both question and answer " +
            "fields each time I'm clicked. Oh, I also need to retrieve the value entered into the input field to " +
            "send to the database. Probably the .val() function will come in handy... side note: input fields will " +
            "need to be validated before updating the database to verify the form is not empty.");
    }

    $("#TextBoxDiv").hide();

    // add button
    $("#addNew").click(function() {

        if ($(this).text() == "Add new Flashcard") {
            $(this).text("Save Flashcard to Deck");
            newPair();
        } else {
            $(this).text("Add new Flashcard");
            savePair();
        };

    });

    function newPair()
    {
        alert("You clicked me! When clicked, a question input and answer input appear, similar to how the create " +
            "a new deck page looks. The add button might toggle to become a save button, which when clicked will send the " +
            "new question-answer pair using ajax to the database. Once saved, using jquery, a new ^tr^ could be appended " +
            "to the table containing the new question-answer pair where further edits can be made if desired...");

        $("#TextBoxDiv").show();

    }

    function savePair()
    {
        alert("Gonna send your flashcard to the database. Validated, of course!");
        $("#TextBoxDiv").hide();
    }

    var removeButtons = document.querySelectorAll("button[name= 'remove']");
    var y = 0, ylength = removeButtons.length;
    for (y; y < ylength; y++) {
        if (document.addEventListener) {
            removeButtons[y].addEventListener("click", function() {
                // get row button is in
                var currentRow = $(this).closest('tr');

                // get the pairId stored in the row
                var pairId = $(currentRow).attr('id');

                // get the question text
                var questionTd = currentRow.find("td:first-child");
                var questionText = questionTd.find(":input").val();

                // get the answer text
                var answerTd = currentRow.find("td:nth-child(2)");
                var answerText = answerTd.find(":input").val();

                // testing to see if information was successfully retrieved
                alert("Pair Id = " + pairId + "\n" +
                    "Question = " + questionText + "\n" +
                    "Answer = " + answerText);

                // use keyword this to target clicked button
                // removeHandler();
            });
        } else {
            removeButtons[y].attachEvent("onclick", function() {
                // use buttons[y] to target clicked button
            });
        };
    };

    // remove buttons
    function removeHandler() {
        var currentRow = $(this).closest('tr');
        var pairId = $(currentRow).attr('id');
        alert(pairId);

        /*var confirmation = confirm("Are you positive you want to remove this flashcard from your study deck?");
        if (confirmation)
        {
            alert("yay! I'm gone! Or will be, once I re-lookup how to do the fancy jQuery for this... oh, plus " +
                "ajax to remove from the database so it doesn't repopulate the table with 'removed' flashcards " +
                "upon refresh...");
        }*/
    }
</script>

</body>

</html>