<!--
    Kianna Dyck
    Jen Shin
    home.html
    Homepage after user logs in or makes a new account.
-->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <!-- Required Meta Tags -->
            <meta charset = "utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>Flash Cards</title>

            <!-- CSS Files-->
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
                  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
                  crossorigin="anonymous">

        </head>

    <body>

    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-3">
        <a class="navbar-brand" href="./">Flashcards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <check if ="{{ @_SESSION['userId'] }}">
                    <true>
                        <a class="nav-item nav-link active" href="./">Current Decks</a>
                        <a class="nav-item nav-link" href="./create">Create New Deck</a>
                        <a class="nav-item nav-link" href="./logout">Logout</a>
                    </true>
                    <false>
                        <a class="nav-item nav-link" href="./register">Create an account</a>
                        <a class="nav-item nav-link" href="./login">Login</a>
                    </false>
                </check>

            </div> <!-- navbar -->
        </div> <!-- collapsible content div -->
    </nav> <!-- nav -->

    <!-- Main Content -->

    <div class="container">

        <form action="#" method="post">
        <div>
            <check if =" {{ @noDecks }}">
                <!--If User has no decks, displays message instead of select dropdown-->
                <true> <h3 class="text-info">{{ @noDecks }}</h3></true>

                <false>
                    <!--select dropdown displaying all decks for a given user-->
                    <div class="form-group">
                        <label for="decks">Choose a deck</label>&nbsp;&nbsp;&nbsp;<span class="text-danger">{{@choiceErr}}</span>
                        <select class="form-control" name="deckOption" id="decks">

                            <repeat group ='{{ @options }}' value="{{ @option }}">
                                <option value="{{ @option['deckId'] }}"
                                <check if="{{ @option['deckId'] == $_POST['deckOption']}}">selected</check>>
                                    {{ @option['deckName'] }}
                                </option>
                            </repeat>

                        </select>
                    </div>

                    <!--edit/play radio buttons-->
                    <div class="row mb-3">
                        <div class="col-3">
                            <input type="radio" name="choice" value="edit"
                            <check if="{{ @choice == edit }}">checked</check>> Edit &nbsp;

                            <input type="radio" name="choice" value="play"
                            <check if="{{ @choice == play }}">checked</check>> Play Deck
                        </div>
                        <div class="text-right col-9">
                            <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                        </div>
                    </div>
                </false>
            </check>


        </div>


        </form>
        <br/>
        <!--instructions-->
        <div class = "row col-6 mb-3">
        <h4>How to Play/Instructions</h4>
        <p>
            This is your home page.<br/>
            This this where all your decks are listed. <br/>
            Choose a deck to edit or play.<br/>
            You may return here at any time by clicking "Flashcards" or "Current Links" located on the Nav Bar.<br/>

            <h5 class="text-primary">When you play a deck...</h5>
            Your deck is shuffled each time you play it.
            <br/>
            One question is displayed at a time. You may choose to view the answer with the "Show Answer" button,
            or skip to the next question.<br/>
            <br/>
            <h5 class="text-primary">When you edit or create a new deck...</h5>
            Decks are stored in pairs (question-answer, word-meaning).<br/>
            Input fields may not be left blank.
        </p>
        </div>

    </div> <!-- container -->



    <!-- Scripts -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

        <!-- popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>

        <!-- bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>

    </body>

</html>