<!--
    Kianna Dyck
    Jen Shin
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flash Cards</title>

    <!-- CSS Files-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>

<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light m-3">
    <a class="navbar-brand" href="./">Flashcards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <check if ="{{ @_SESSION['userId'] }}">
                <true>
                    <a class="nav-item nav-link" href="./">Current Decks<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="./create">Create New Deck</a>
                    <a class="nav-item nav-link" href="./logout">Logout</a>
                </true>
                <false>
                    <a class="nav-item nav-link active" href="./register">Create an account</a>
                    <a class="nav-item nav-link" href="./login">Login</a>
                </false>
            </check>

        </div> <!-- navbar -->
    </div> <!-- collapsible content div -->
</nav> <!-- nav -->

<div class="container">

    <p class="lead text-center">Welcome to Flashcards, an online self-study tool designed to help exercise your memory
        and knowledge in preparation for tests, quizzes, exams, or just for fun.</p>

    <hr>

    <h2 class="text-center">New User Registration</h2>

    <form action="#" method="post">
        <div class="form-group">
            <!-- These need styles and validation -->
            <label class="form-control-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" <check if="{{ isset($_POST['username']) }}"> value="{{ $_POST['username'] }}" </check>>

            <!-- Error message for username email -->
            <div>
                <check if="{{!empty (@invalidEmail) }}">
                    <p class="text-danger">{{ @invalidEmail }}</p>
                </check>
            </div>

            <label class="form-control-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">

            <label class="form-control-label" for="password">Confirm Password</label>
            <input class="form-control" type="password" name="password2" id="password2">
            <br/>
            <span id="message"></span>


            <!-- Error message for password -->
            <div>
                <check if="{{!empty (@mismatchedPassword) }}">
                    <p class="text-danger">{{ @mismatchedPassword }}</p>
                </check>
            </div>


        </div>
        <div class="text-right">
            <input type="submit" class="btn btn-primary" name="submit" value="Create Account">
        </div>
    </form>
</div> <!-- container -->



<!-- Scripts -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
    /*$(document).ready(function () {
        $("#password").keyup(checkPW);
    });
    function checkPW() {
        var pw = $("#password").val();
        var message = document.getElementById("message");
        if(pw.length < 6) {
            message.innerHTML = "Password must be atleast 6 characters long.";
        }
        else if (!checkLower(pw)) {
            message.innerHTML = "Password must include a lowercase letter.";

        }
        else if (!checkUpper(pw)) {
            message.innerHTML = "Password must include an uppercase letter.";

        }
        else if (!checkNumber(pw)) {
            message.innerHTML = "Password must include a number.";
        }
        else if (checkLower(pw) && checkNumber(pw) && checkSymbol(pw) && checkUpper(pw) && pw.length >= 6) {
            //  alert("Password must be more than 6 characters and contain a uppercase letter, a lowercase letter, a symbol, and a number.");
            //}
            message.HTML("");
        }
    }
    function checkUpper(pw) {
        var pattern = /[A-Z]/;
        var regex = new RegExp(pattern);
        var n = pw.search(regex);
        return n >= 0;
    }
    function checkLower(pw) {
        var pattern = /[a-z]/;
        var regex = new RegExp(pattern);
        var n = pw.search(regex);
        return n >= 0;
    }
    function checkNumber(pw) {
        var pattern = /[A-Z]/;
        var regex = new RegExp(pattern);
        var n = pw.search(regex);
        return n >= 0;
    }
    function checkSymbol(pw) {
        var pattern = /[^\w]/;
        var regex = new RegExp(pattern);
        var n = pw.search(regex);
        return n >= 0;
    }
*/
</script>
</body>

</html>