<!--
    Kianna Dyck
    Jen Shin
    view-flashcards.html
    Allows user to play a deck of flashcards.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flash Cards</title>

    <!-- CSS Files-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

</head>

<body>

<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light m-3">
    <a class="navbar-brand" href="./">Flashcards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <check if ="{{ @_SESSION['userId'] }}">
                <true>
                    <a class="nav-item nav-link" href="./">Current Decks</a>
                    <a class="nav-item nav-link" href="./create">Create New Deck</a>
                    <a class="nav-item nav-link" href="./logout">Logout</a>
                </true>
                <false>
                    <a class="nav-item nav-link" href="./register">Create an account</a>
                    <a class="nav-item nav-link" href="./login">Login</a>
                </false>
            </check>

        </div> <!-- navbar -->
    </div> <!-- collapsible content div -->
</nav> <!-- nav -->

<div class="container">
    <h2>{{ @deckName }}</h2>

    <!--Flashcard-->
    <div>

        <repeat group="{{ @flashcards }}" key="{{ @question }}" value="{{ @answer }}">
            <!-- Temporary -->
            <div class="card" >
                <div class="card-body" style="height: 18rem">
                    <h5 class="card-title">Question</h5>

                    <p class="card-text">{{ @question }}</p>

                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-danger showAnswer">Show Answer</button>
                    <p class="answer"><span class="font-weight-bold" >Answer:</span> {{ @answer }}</p></div>
            </div>


        </repeat>
        <br>

        <!--Next and Previous Buttons-->
        <div class = "text-center">
            <button class="btn btn-outline-secondary w3-button w3-black w3-display-left" id ="previous"
                    value="previous">&#10094; Previous</button>
            <button class="btn btn-outline-success w3-button w3-black w3-display-right" id = "next"
                    value ="next">Next &#10095;</button>
        </div>
    </div>
</div> <!-- container -->



<!-- Scripts -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<!--External Javascript-->
<script src ="views/js/view.js"></script>
</body>

</html>